@use "../utils/variables" as*;
@use "../utils/keyframes" as*;
@use "../utils/mixins" as*;

.section {
	width: 100%;
	padding: 50px 0;
	background-color: $dark;
}
.section-pure {
	background-color: $white;
	width: 100%;
	padding: 50px 0;
}

#overlay {
	z-index: 900;
	position: fixed;
	width: 100%;
	height: 100%;
	background:$white;
	opacity: 0;
	animation: loader 3000ms ease-out forwards 1;
  }
  
  .load {
	z-index: 1000;
	font-family: $Shrikhand;
	color:$blue-Violet;
	display: flex;
	height: 100%;
	margin: 0 auto;
	width: -moz-fit-content;
	width: fit-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	animation: loader 500ms ease-in-out 3000ms forwards;
  }
  .load__bar {
	display: flex;
	position: relative;
	background: $blue-Violet;
	width: 100%;
	height: 3px;
	transform-origin: left;
	animation: loader__bar 3000ms ease-in-out backwards;
  }
  .load__letters {
	display: flex;
  }
  .load__letters .letter-1 {
	animation: loader__letters 2300ms ease-in 150ms 4;
  }
  .load__letters .letter-2 {
	animation: loader__letters 2300ms ease-in 300ms 4;
  }
  .load__letters .letter-3 {
	animation: loader__letters 2300ms ease-in 450ms 4;
  }
  .load__letters .letter-4 {
	animation: loader__letters 2300ms ease-in 600ms 4;
  }
  .load__letters .letter-5 {
	animation: loader__letters 2300ms ease-in 750ms 4;
  }
  .load__letters .letter-6 {
	animation: loader__letters 2300ms ease-in 900ms 4;
  }
  .load__letters .letter-7 {
	animation: loader__letters 2300ms ease-in 1050ms 4;
  }
  .load__letters .letter-8 {
	animation: loader__letters 2300ms ease-in 1200ms 4;
  }
  
