@use "../utils/variables" as*;
@use "../utils/mixins" as*;

//**explore**//
.body {
    font-family: $roboto;
    background-color: $white;
}

.section {
    display: block;
    unicode-bidi: isolate;
    background-color: rgba(246, 246, 246, 1);
}
.explore {
	width: 92%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	>* {
		margin: 8px 0;
	}
}
.explore__title {
	font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.explore__subtitle {
	font-weight: 300;
}