.selection {
	width: 92%;
	margin: 0 auto;
}
.selection__title {
	margin-bottom: 35px;
    margin: 0 0 35px,
}
.selectors {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 25px;
}

