@use "../utils/variables" as*;
@use "../utils/mixins" as*;

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 500;
	position: relative;
	margin: 12.5px 0;
	cursor: pointer;
}
.btn--main {
    border-radius: 30px;
    padding: 15px 20px;
    color: $white;
    height: 50px;
    min-width: 186px;
    justify-content: center;
    @include gradient(#9356DC, #FF79DA);
    transition: filter 0.3s ease; 

    &:hover {
        filter: brightness(1.2); 
    }
}
.btn--selection {
	background: $white;
	border-radius: 20px;
	padding: 25px 20px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	color: $white;
	min-width: 220px;
	width: 100%;
	margin: 0 16px;
	left: -12px;
	&:hover {
		>.btn__logo {
			color: $blue-Violet;
		}
		>.btn__title {
			color: $blue-Violet;
		}
	}
}
.btn__order{
 position: absolute;
 left:-12px;
 color:$white;
 background-color:$blue-Violet;
 display: flex;
 justify-content: center;
 align-items: center;
 width : 24px;
 height: 24px;
 border-radius: 50%;
}
.btn__title {
	margin-left: 24px;
	color: $dark;
}
