@use "../utils/variables" as*;

@mixin breakpoint($type){
	@if $type == "small"{
		@media screen and (min-width:768px){@content;}
	}
	@else if $type == "medium"{
		@media screen and (min-width:992px){ @content;}
	}
	@else if $type == "large"{
		@media screen and (min-width:1200px){ @content;}
	}
}





  @mixin gradient($color1, $color2)
  {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, $color1, $color2);
  }
  

  
  

  @mixin base-shadow{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

  }
  //**button heart**//
@mixin heart {
	.fa-heart {
		font-weight: 100;
		background: transparent;
		font-size: 1.5rem;
		-webkit-background-clip: text;
		background-clip: text;
		color:black;
		opacity: 1;
		transition-property: all;
		transition-duration: 1s;
		&:hover {
			font-weight: 700;
			background:#9356DC;
			background-image: linear-gradient(180deg, #9356DC, #FF79DA);

			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			opacity: 1;
		}
}

}
	
