$color_1: #101010;
$color_2: #000000;
$color_3: #353535;
$color_4: inherit;
$color_5: #ffffff;
$color_6: #008766;
$color_7: transparent;
$color_8: #9356DC;
$color_9: #7E7E7E;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Shrikhand", serif;
$font-family_3: inherit;
$background-color_1: #F6F6F6;
$background-color_2: #ffffff;
$background-color_3: #EAEAEA;
$background-color_4: #353535;
